# Code
airflow-volumes/config/*
airflow-volumes/logs/*
airflow-volumes/plugins/*
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env*
.env
*.ipynb

# Windows system files
Thumbs.db
desktop.ini

# MacOS system files
.DS_Store
.Spotlight-V100
.Trashes
._*

# Docker volumes
node-red-data
mosquitto-volume